{% extends "base/base.twig" %}


{% block body %}
        <body class="loginBackground">

        <body id="LoginForm">
        <div class="container mt-5">
            <div class="login-form">
                <div class="main-div">
                    <br/>
                    {% if success %}
                    <h1> {{ success }}</h1>
                    {% elseif error %}
                    <h1> {{ error }}</h1>
                    {% else %}
                    <center> <h2>Aantal zitplaatsen aangeven</h2></center>
                    <br/>
                    <form action="./maxpassengers" method="POST">
                        <div class="form-group">
                            <input type="text" name="passengers" class="form-control" placeholder="Maximaal aantal zitplaatsen"
                            {% if passengers %}
                                value="{{ passengers.max_passengers }}" disabled="disabled"
                            {% endif %}
                            >
                        </div>
                        <button type="submit" class="btn btn-success mr-2"{% if passengers %}
                            disabled="true"
                                {% endif %}>Voeg toe</button>
                        </form>
                        <br/>
                    {% endif %}
                </div>
            </div></div>
                </div>
            </div></div>
{% endblock %}